<%= form_for(@todo) do |f| %>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :status %>
		<%= f.check_box :status %>
	</div>

	<div class="field">
		<%= f.submit %>
	</div>
<% end %>